/* === Custom Course Theme =========================================== */

a,
.blockGroups .itemHead,
.timediv ul li a {
    color: #E56100;
    border-bottom-color: #E56100;
}

a:active {
    border: none;
    outline: none;
}

/* BODY
   ================================================== */

/* @branding -- do not remove */

#contentFrame,
#schemePreview,
/* === */
.breadcrumbs,
body.wizardBody .containerWizard,
.paneTabs {
    background-color: #A2D950;
}
#contentFrame, 
#schemePreview, 
#globalNavPageContentArea {
    background-image: url("images/background.png");
    background-position:-100px 60px;
    background-color:#A2D950;
}

.paneTabs .active a:before {
    border-bottom-color: #B6BF89
}

.paneTabs .active a:after {
    border-bottom-color: #E9EDD7
}

.paneTabs ul li a,
.paneTabs .external a,
.paneTabs .personal a {
    border-color: #B6BF89
}

.breadcrumbs,
.paneTabs {
   background-color: #A2D950;
   border-color: #6FC806;
}

/* BREADCRUMBS
   ================================================== */
/*.breadcrumbs .path a {
    color: #000;
}
.breadcrumbs .path a:hover {}*/

.path .root, 
.simplePath .root,
.theme-switch {
    border-right-color: #6FC806;
}
.path .root a:before,
.simplePath .root a:before,
.breadcrumbs .switcherLabel {
    color: #555
}

/* FOOTER LINKS */

.legal, 
.additionalInfo a {
	color:#333;
	
	}

/* PANE TABS
   ================================================== */

/* Idle */




/* CONTENT PANE
   ================================================== */

.contentBox,
.portal .contentBox {
    border-color: #aaa;
	rgba(0,0,0,0.9);
}

/* @branding -- do not remove*/

#contentArea,
#schemePreviewBody {
    background: #FFF;
    border-color: #aaa;
}

.landingPageColumn .outcomesLanding li h3,
.landingPageColumn p {
    border-color: #C0CDB9;
    color: #333;
}

/* PAGE HEADER
   ================================================== */

/* @branding -- do not remove*/

#pageHeader,
#schemePreviewHead {
    background-color: #DEDEDE;
}

.pageTitle {

}

/* CONTROL ELEMENTS
   ================================================== */

/* Action Bars */

.actionBar,
.actionBarMicro,
/*Side navigation single controls ("Unenroll" etc.)*/
.singleControl,
.navPalette .discover {
    background-color:#EA7212;
    border-color: #EA7212;
}

.mainButton a,
.secondaryButton a,
	/*Login page control links*/
#loginHeader ul li a,
#loginLang h2 a {
    border-color:;
}

/* Action bar main and secondary button links */
.mainButton > a,
.secondaryButton > a,
.mainButton h2 > a,
.secondaryButton h2 > a  {
    background: -moz-linear-gradient(center top , #F4983A 0%, #E56100 100%) #E48D2A;
    background: -webkit-gradient(linear, 0% 0%, 0% 90%, from(#F4983A), to(#E56100));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#F4983A, endColorstr=#E56100";
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#F4983A, endColorstr=#E56100);
    border-color: #E56100;
    color:#f1f1f1;
}

/* Hover and focus */

/* Action bar links */

.actionBarMicro .active > a:after,
a.liveAreaTab:after,
.nav .sub h2 a:hover:after,
.nav .sub.mainButton:hover h2 a:after,
#loginLang h2:hover:after,
#loginLang:hover h2:after {
    border-bottom-color: #f0f0f0
}

.mainButton > a:hover,
.mainButton h2 > a:hover,
li.mainButton:hover > a,
li.mainButton:hover h2 > a,
.secondaryButton h2 > a:hover, 
.secondaryButton > a:hover,
.actionBarMicro .active a,
.actionBarMicro .active a:hover,
.actionBarMicro .active a:focus,
	/*Side nav single controls*/
.singleControl a:hover,
.singleControl a:focus,
.discover a:hover,
.discover a:focus,
	/*Links in an "open" state*/
.liveAreaTab,
a.liveAreaTab,
a.liveAreaTab:hover,
a.liveAreaTab:focus,
.actionBar ul li a.liveAreaTab:focus,
.actionBar ul li.mainButton a.liveAreaTab,
.actionBar ul li.secondaryButton a.liveAreaTab,
.panelTabs li.active a.edit,
.panelTabs li.active a.edit:hover,
.panelTabs li.active a.edit:focus
	 {
    background: -moz-linear-gradient(center top , #E56100  0%, #E56100  100%);
    background: -webkit-gradient(linear, 0% 0%, 0% 90%, from(#E56100), to(#E56100));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#E56100, endColorstr=#E56100)";
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#E56100, endColorstr=#E56100);
    border-color: #E48D2A;
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 1);
}

.nav .sub ul,
.cmdiv ul,
.menumini ul,
.quickAddPal,
.keyboardAccess,
.nav .sub ul li a,
.cmdiv a,
.menumini a,
.paneTabs .nav .sub a,
	/* tagging */
span.currentTags,
	/* Inline editing elements */
.liveArea,
.liveArea-slim,
.liveAreaTab,
	/* Button is turned into liveArea tab when .liveaArea is displayed. */
a.liveAreaTab,
a.liveAreaTab:hover,
a.liveAreaTab:focus,
.previewArea,
	/* Preview area (read-only version of live area) */
.jumptopage,
.panelTabs li.active a.edit,
.panelTabs li.active a.edit:hover,
.panelTabs li.active a.edit:focus,
	/*Multi-column flyout*/ 
.bcContent .flyout,
	/*Overrides for the file hierarchy three*/
ul.tree li a + img + a:focus,
ul.tree li img + img + a:focus,
div.treeContainer ul.tree li a.itemActive,
#learningUnitToc ul.tree li a.itemActive,
ul.tree li a.itemActive,
	/* Menu borders. */
.nav .sub ul,
.cmdiv ul,
.menumini ul,
.quickAddPal,
.keyboardAccess,
.cmdiv,
	/* contextual menu for tagging */
span.currentTags,
	/* Paging preference element */
.rumble ul li.jumptopage,
.rumble ul li.inventory_page.jumptopage,
.rumble_top ul li.jumptopage,
.rumble_top ul li.inventory_page.jumptopage,
.inventory_paging input,
.inventory_paging .currentPage,
.jumptopage,
.jumptopage input,
	/* Close menu link */
.cmdiv li.contextmenubar_top a,
span.currentTags a.closeCloud,
.cmdiv li.contextmenubar_top a:focus,
.cmdiv li.contextmenubar_top a:hover,
.currentTags a.closeCloud:hover,
.currentTags a.closeCloud:focus
{
    background-color: #f0f0f0;
    border-color: #888;
}

.cmdiv li.contextmenubar_top a,
.cmdiv li.contextmenubar_top a:focus,
.cmdiv li.contextmenubar_top a:hover,
.currentTags a.closeCloud:hover,
.currentTags a.closeCloud:focus {
    background-color: #f0f0f0!important
}

/*Tab indicators*/
.portlet .containerTabs .active a:after {
    border-bottom-color: #EEEEEE
}

.mainButton a.disabled, .mainButton a.disabled:hover, .secondaryButton a.disabled:hover, .mainButton a.disabled:focus, .secondaryButton a.disabled:focus {
	background: none;
    -ms-filter: none;
    filter: none;	
	color: #fff;
	text-shadow: none; 
}
/* BUTTONS
   ================================================== */

	/* @branding -- do not remove */
#primaryButton,
	/*===*/
input[type="submit"].submit,
.button-1,
.button-1-img {

    background: -moz-linear-gradient(center top , #B4D231 0%, #7FB434 100%) #7FB434 ;
    background: -webkit-gradient(linear, 0% 0%, 0% 90%, from(#B4D231), to(#7FB434));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#B4D231, endColorstr=#7FB434";
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#B4D231, endColorstr=#7FB434);
    color: #F0F0F0;
    border-color: #7FB434;
    background-clip: padding-box;
}

input[type="submit"].submit:hover,
.button-1:hover,
.button-1:focus,
.button-1-img:hover,
.button-1-img:focus {
    background: -moz-linear-gradient(center top , #A2C832 0%, #7FB434 100%) #7FB434;
    background: -webkit-gradient(linear, 0% 0%, 0% 90%, from(#A2C832), to(#7FB434));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#A2C832, endColorstr=#7FB434";
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#A2C832, endColorstr=#7FB434);
    color: #FFFFFF;
    border-color: #7FB434;
}


/* PORTAL MODULES
   ================================================== */

	/* @branding -- do not remove */
#moduleBorder,
#moduleBody,
	/*===*/
.portlet {
    
}

.portlet div.scroll_div {
    background-color: #EEE;
    border-color: #CCC;
}

/* Portlet Title */

	/* @branding -- do not remove */
#moduleTitle,
	/*===*/
.portlet h2 {
    color: #666;
    background-color:#FFE6BC;
    text-shadow:;
}

/*  Portlet Title on hover */
.portlet:hover  h2.dragHandle,
.portlet h2.dragHandle:hover {
    background-color: #FFF;
}

/*  Portlet Title on hover */
.portlet h2.dragHandle:hover {
    color: #000000
}

.collapsible {
    background-color: #FFF
}


/* INVENTORY TABLES
   ================================================== */

/* Color for zebra stripes */
table.inventory tbody tr.gray td,
table.inventory tbody tr.gray th {
    background-color: #f0f0f0
}


/* REORDER HANDLES
   ================================================== */

.reorder,
.item .reorder {
    background-color: #ededed
}


/* DATA COLLECTION PAGES
   ================================================== */

.steptitle,
.submittitle {
    color: #000000
}

/* Custom Course Theme */